<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/MedDetails.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta charset="utf-8">
     
        <div style="display:none" id='session' name="session">{{id}}</div>
    </head>
    
    <body>
        
	<div class="doc">
		
			
		<div class="form-container">
            <p class="titles">Hello {{name}},these are the conditon details:</p>
		<a href="./../../logout">Logout</a>
		<a href="./../../">Dashboard</a>
		<br><br>
		 
        <label for="title" >Title: {{title}}</label>
        <label for="title" id="tile"></label>
         <form action="">

            <label for="desc">Description:
                  <p>{{description}}</p>
                </label>
			<label for="desc" id='desc'></label>
            <br><br>
			
			
			<br><br>
          </form>
		</div>
	</div>
    </body>
</html>